<div id="<%= dom_id post %>">
<h4>posted by <%= link_to post.user.name %></h4>

  <p>
    <strong>title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>image:</strong>
    <%= post.image %>
  </p>

  <p>
    <strong>description:</strong>
    <%= post.description %>
  </p>

</div>
